body{
    height: 100;
    background-size: cover;
    background-color: #4c3a57;
    background-position: center center;
}
.box2{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #ffffff;/*文字色*/
    border: 2px solid rgba(255,255,255,0.8);/*線*/
}
.box2 p {
    margin: 0; 
    padding: 0;
}